/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav{
    padding: 20px;
}
.header__content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.search{
    width: 25%;
}
.search > form{
    background-color: #F1F1F2;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 92px;
}
.search > form > .searchInput{
    border: none;
    background-color: transparent;
    width: 100%;
}
.searchInput:focus{
    box-shadow: none;
    outline: none;
    border: none!important
}
form > button{
    border: none!important;
    background-color: transparent;
}

.header__content > .navigations{
    display: flex;
    align-items: center;
}
.navigations > .navItem{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
.navigations > .navItem > a{
    margin-right: 20px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}
.navigations > .login{
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.videoMain{
    display: flex;
    justify-content: center;
    padding: 25px 0 25px;
}
.videoMain > .videos > .video__player{
    width: 70%;
    margin: 0 10% 0 10%;
    border-radius: 10px;
    cursor: pointer;
}
.videos{
    position: relative;
}
.videoSidebar{
    position: absolute;
    right: 130px;
    bottom: 160px;
}
.videoSidebar > .buttons{
    color: #ffffff;
    text-align: center;
    margin: 30px 0;
    cursor: pointer;
    font-weight: 700;
    font-family: system-ui;
}
.videoSidebar > .buttons > p{
    margin: 0;
}

.videoFooter{
    position: absolute;
    bottom: 15px;
    left: 70px;
}
.videoFooter > .footer__text > h4{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.videoFooter > .footer__text > p{
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.videoFooter > .footer__music > p{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
    align-items: center;
    display: flex;
}


/* RESPONSIVE */

@media screen and (max-width: 500px){
    .search{
        display: none;
    }
    .login{
        padding: 5px 10px!important;
    }

    .videoMain > .videos > .video__player{
        width: 80%;
    }
    .videoSidebar{
        position: absolute;
        right: 45px;
        bottom: 100px;
    }
    .videoFooter{
        position: absolute;
        bottom: 0;
        left: 45px;
    }
    .videoFooter > .footer__text > h4{
        font-size: 15px;
    }
    .videoFooter > .footer__text > p{
        width: 75%;
    }
    .videoFooter > .footer__music > p{
        width: 75%;
    }
}

@media screen and (max-width: 370px){
    .search{
        display: none;
    }
    .login{
        padding: 5px 10px!important;
    }

    .videoMain > .videos > .video__player{
        width: 80%;
    }
    .videoSidebar{
        position: absolute;
        right: 45px;
        bottom: 100px;
    }
    .videoFooter{
        position: absolute;
        bottom: 0;
        left: 40px;
    }
    .videoFooter > .footer__text > h4{
        font-size: 15px;
    }
    .videoFooter > .footer__text > p{
        width: 75%;
    }
    .videoFooter > .footer__music > p{
        width: 75%;
    }
}